__pycache__/
*.py[cod]
*$py.class
*.so

.vscode/
data
nvdiffrast
code/flame/**/*.pkl

node_modules/
mesh_data**/
sequence_data**/
dist/

nvdiffrast/
*.swp

code/flame/FLAME2020/Readme.pdf
code/flame/FLAME2020/landmark_embedding.npy
code/nohup.out
